# mac
.DS_Store

MRS/ftp-monitor/config/file_monitor_config.yml
MRS/ftp-monitor/config/log4r.yml
MRS/ftp-monitor/config/mail_config.yml
MRS/ftp-monitor/config/socket.yml
MRS/ftp-monitor/log/*
MRS/ftp-monitor/tmp/*

MRS/socket-server/config/jma_xml_parse_rule.yml
MRS/socket-server/config/ksn_xml_parse_rule.yml
MRS/socket-server/config/log4r.yml
MRS/socket-server/config/mrsss_config.yml
MRS/socket-server/config/redmine.yml
MRS/socket-server/log/*
MRS/socket-server/tmp/*

