# java
*.class
*.war
*.ear

# eclipse
/bin
.project
.classpath
.settings/

# mac
.DS_Store

# project specifity
parser.yml
receiver.yml
queue.yml
/shells
/test/temporaryFile

MRS/ftp-monitor/log/*
MRS/socket-server/log/*

