#
# Config file for ParcerMain
#

# path of redmine.properties
redmine_file=/home/dis/develop/LGDIS-Input-Tools/config/redmine.properties

# path of parse_rule.yml
parth_rule_file=/home/dis/develop/LGDIS-Input-Tools/config/parse_rule.yml
