#
# Config file for ReceiverMain
#

# path of threads.properties
#threads_file=/home/dis/develop/LGDIS-Input-Tools/config/threads.properties

# path of bch.properties
#bch_file=/home/dis/develop/LGDIS-Input-Tools/config/bch.properties
