#
#  threads.properties
#  MessageReceivingSystem
#

# 1.define thread-name list
# ex. threads=thread-name1,thread-name2,...
threads=JAlert-Kishou(HONBAN),JAlert-Naikaku(HONBAN)

# 2.define thread-parameters to thread-name
# parameters ar 'ip','port','analyzer','handler','output'
# ex.
#    thread-name1.ip=192.168.120.174
#    thread-name1.port=36000
#    thread-name1.analyzer=package.DataAnalyzer
#    thread-name1.handler=package.DataHandler
#    thread-name1.output=/data/output (fullpath)
JAlert-Kishou(HONBAN).ip=ip address
JAlert-Kishou(HONBAN).port=port number
JAlert-Kishou(HONBAN).analyzer=jp.lg.ishinomaki.city.mrs.analyzer.JAlertKishouDataAnalyzer
JAlert-Kishou(HONBAN).output=/home/dis/develop/LGDIS-Input-Tools/output

JAlert-Naikaku(HONBAN).ip=ip address
JAlert-Naikaku(HONBAN).port=port number
JAlert-Naikaku(HONBAN).analyzer=jp.lg.ishinomaki.city.mrs.analyzer.JAlertNaikakuDataAnalyzer
JAlert-Naikaku(HONBAN).output=/home/dis/develop/LGDIS-Input-Tools/output
