file_monitor:
 host: "xx.xxx.co.jp"
 port: "25"
 from:
  address: "xxxxxx@xxxxx.ne.jp"
  display_name: "Axxxx Txxxxxx"
 to:
  - address: "xxxxx@xxxxxxxx.co.jp"
    display_name: "Axxxx Txxxxxxx"
  - address: "xxxxxx@xxxxxx.ne.jp"
    display_name: "John Doe"
 cc:
 bcc:
 subject: "[ERROR NOTIFICATION (FILE MONITOR)]"
 body:  
  "An error has occurred in the file monitoring program.\nThe error is the following:\n\n$1"
